@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    position: relative;
}

.row{
    --bs-gutter-x: 0 !important;
}

header{
    width: 100%;
    display: flex;
}
.header_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header_block{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.header_link a{
    color: #000000;
}

.header_img{
    max-width: 220px;
}

.header_item{
    display: flex;
    color: #0E0E0E;
    justify-content: center;
}

.aurarie_top_item{
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}
.aurarie_top_item a{
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.header_black_line{
    width: 100%;
    background-color: #212529;
}

.header_navigation{
    width: 100%;
}

.home_category_block{
    width: 100%;
    display: flex;
    padding: 0 50px;
    justify-content: space-around;
}

.home_category_nav_link{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    margin: 0 10px;
}

.header_small_button{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.header_link{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 10px;

}

.header_link span{
    position: absolute;
}

.homeslider_img{
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

.home_icon_block{
    margin: 20px 0;
}

.home_icon_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_icon_img{
    padding: 10px;
}

.home_item_desc{
    font-size: 16px;
    font-weight: 400;
    color: #2A2A2A;
    text-align: center;
    text-transform: uppercase;
}

footer{
    background-color: black;
    color: #ffffff;
}

footer hr{
    margin: 0;
    padding: 0;
}

.footer_block{
    width: 270px;
    font-size: 13px;
    padding: 20px 0;
}

.footer_block_item{
    margin: 10px 0;
}

.footer_block_icon{
    padding: 0 10px;
    color: #676767;
}

.copyright{
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}

.main_category_item{
    display: flex;
    border: #e1e1e2 1px solid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #ffffff;
    position: relative;
}

.main_category_img{
    max-width: 300px;
}

.main_category_img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.main_categoy_name{
    position: absolute;
    top: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #9a9a9b;
}

/*Products*/
.product{
    background: #ffffff;
    padding: 10px;
}
.product_info{
    padding: 20px 30px;
}
.product_title{
    text-transform: uppercase;
}


.product_code{
    position: relative;
}

.product_category{
    font-size: 1rem;
    font-weight: 700;
}

.product_category a{
    font-size: 1rem;
    text-decoration: none;
    color: #2b2f32;
    font-weight: normal;
}

.product_avalable{
    display: flex;
    position: absolute;
    background: #e3c474;
    right: 15px;
    border-radius: 10px;
    padding: 5px 20px;
    bootom: 0;
    color: #ffffff;
    font-weight: 600;
}

.product_noavalable{
    display: flex;
    position: absolute;
    background: #da5f5f;
    right: 15px;
    border-radius: 10px;
    padding: 5px 20px;
    bootom: 0;
    color: #ffffff;
    font-weight: 600;
}

.product_price{
    position: relative;
}

.product_promo_price{
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
}

.product_old_price{
    display: flex;
    text-decoration: line-through red 2px;
    font-size: 1.2rem;
    color: #9a9a9b;
    justify-content: center;
}

.product_discount{
    display: flex;
    background: #da5f5f;
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
    width: 100px;
    height: 30px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    position: absolute;
    top: 10px;
    right: 0;
}

.product_addtocart{
    display: flex;
    justify-content: right;
    width: 100%;
}

.product_description{
    margin: 15px 10px 15px 10px;
    font-size: 1rem;
}

/* Random Block */

.product_recomandat{
    display: flex;
    position: relative;
    background: #ffffff;
}

.product_block{
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 5px;
}

.product_block_img{
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.product_block_thumb{
    display: flex;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.product_block_thumb:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.product_block_price{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.product_block_price span {
    font-size: 0.7rem;
    text-decoration: line-through red 1px;

}

.product_block_name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2b2f32;
}

.product_block_name a{
    text-decoration: none;
    color: #2b2f32;
    font-size: 1rem;
    font-weight: 600;
}

.discount_block_img{
    display: flex;
    position: absolute;
    top:15px;
    right: 15px;
    background: #da5f5f;
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
    width: 100px;
    height: 30px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #f6f8fb;
    padding: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: #2b2f32;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #050505;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    font-size: 1rem;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ffffff;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #484848
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* HOME*/

.home_title{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.home_sidebar{
    width: 100%;
    display: block;
    justify-content: center;
    background-color: #cecccc;
    border-radius: 10px;
    padding: 20px;
}

.home_logo_block{
    position: relative;
    display: flex;
    margin: 20px;
    justify-content: center;
}

.home_logo_user{
    display: flex;
    position: absolute;
    color: #ffffff;
}

.home_logo_img{
    max-width: 150px;
}

.home_navigation{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Catalog */
/* Category catalog*/

.catalog{
    position: relative;
    }

.catalog .container{
    background-color: #ffffff;
}

.catalog_sidebar{
    display: block;
    margin: 15px;
}

.sidebar_left_title{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog hr{
    margin: 0;
}

.catalog ul{
    list-style-type: none;
}

.homecategory{
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

.homecategory a {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

}

.subcategory a {
    color: #6c757d;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
}

.subcategory a:hover{
    font-size: 1rem;
    text-decoration: underline;
    transition: 0.3s ease;
}

.catalog_products{
    margin: 15px;
}

.catalog_products_block{
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.catalog_product_item{
    display: block;
    position: relative;
    max-width: 270px;
}

.catalog_product_block_img{
    width: 100%;
    height: 270px;
    margin: 5px;
}

.catalog_product_block_img{
    display: flex;
    width: 270px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.catalog_product_block_thumb{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.catalog_product_block_thumb:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.catalog_product_block_price{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.catalog_product_block_price span {
    font-size: 0.7rem;
    text-decoration: line-through red 1px;
}

.catalog_product_block_name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2b2f32;
}

.catalog_product_block_name a{
    text-decoration: none;
    color: #2b2f32;
    font-size: 16px;
    font-weight: 600;
}

.catalog_pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.page-item .page-link {
    color: #6c757d;
    background-color: #ffffff;
    border-color: #dee2e6;
}

.product_shop{
    display: flex;
    background-color: #111111;
    margin: 20px;
    border-radius: 25px;
}
.product_shop_item{
    display: flex;
    color: #ffffff;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.product_shop_item img{
    width: 80px;
    height: 80px;
    margin-left: 25px;
}

.product_tags{
    width: 100%;
    display: flex;
}

.product_tag{
    margin: 10px;
    background-color: #2b2f32;
    color: #ffffff;
    padding: 0 20px;
    border-radius: 10px;
}

.product_tag a{
    color: #ffffff;
    text-decoration: none;
}

.cart{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 25px 0;
}

.cart_title{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
}

.cart_name{
    font-size: 18px;
}

.cart_name a{
    color: #363636;
    text-decoration: none;
}

.card_total{
    width: 100%;
    text-align: right;
    font-weight: 700;
}

.cart_delete{
    color: #ef4747;
    font-size: 18px;
}

.card_reload{
    color: green;
    font-size: 20px;
}

.cart_finish{
    margin: 0 auto;
    width: 100%;
}

.cart_count{
    display: flex;
    width: 10px;
    height: 10px;
    font-size: 10px;
    font-weight: 700;
    background-color: red;
    color: #ffffff;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
}
